:root {
    --font-stack: Helvetica, sans-serif;
    --primary-color: #df8caf;
    --secondary-color: #ffffff;
    --therciary-color: #5fa773;
    --font-size: 1.2rem;
    --logo-width: 100px;
    --navbar-width: 80%;
    --background-white: rgb(247, 245, 235);
    --background-black: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-stack);
}

/* General styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-black);
    color: white;
}

.logo img {
    width: 120px;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.contact-methods {
    display: flex;
    gap: 10px;
}

.contact-methods a {
    color: white;
}

/* Mobile responsive styles */
.menu-toggle {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-black);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
}

/* Hide sidebar close button in larger screens */
@media (min-width: 769px) {
    .sidebar {
        display: none;
    }
}

.separator {
    width: 50%; /* Ajusta este valor según tus necesidades */
    height: 2px; /* Altura de la línea */
    margin: 0 auto; /* Centra la línea horizontal */
    background-color: transparent; /* Asegura que el fondo sea transparente */
}

#home {
    background-color: var(--primary-color);
    color: white;
    padding: 3rem;
    text-align: center;
}

.banner img{
    background-color: var(--primary-color);
    color: white;
    padding: 3rem;
    text-align: center;
    width: 100%;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#home p {
    font-size: 1.5rem;
}

#services {
    position: relative; /* Necesario para posicionar la pseudo-clase correctamente */
    padding: 60px 0; /* Ajusta el espacio dentro de la sección */
    color: #fff; /* Cambia el color del texto para que contraste con el fondo */
}

#services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/Foto/service4.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda la sección */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    opacity: 0.5; /* Ajusta la opacidad según sea necesario */
    z-index: -1; /* Coloca la pseudo-clase detrás del contenido */
}

#services .card-img-top {
    object-fit: cover;
    height: 500px; /* Ajusta según sea necesario */
    width: 100%;
}

@media screen and (max-width: 768px) {
    #services .card-img-top {
        height: 300px; /* Ajusta según sea necesario */
    }

}

#services .card {
    border: none; /* Opcional: ajustar el estilo de las tarjetas */
    background-color: var(--primary-color);
}

#services .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#services .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

#services .card-text {
    text-align: center;
}

#services .btn {
    align-self: center;
    background-color: var(--therciary-color);
    border-color: var(--therciary-color);
}

.btn-primary {
    background-color: var(--primary-color); /* Usa la variable de color primario */
    border-color: var(--primary-color); /* Usa la variable de color primario */
}

.btn-primary:hover {
    background-color: #c77495; /* Color primario más oscuro para el hover */
    border-color: #c77495; /* Color del borde más oscuro para el hover */
}

.btn-cont {
    padding: 1rem;
}

.btn {
    background-color: var(--primary-color);
}


.link {
    text-decoration: none;
    color: var(--secondary-color);
}

/* Versión para pantallas grandes (escritorio) */
@media (min-width: 768px) {
    /* Ocultar los botones de modal en pantallas grandes */
    .d-md-none {
        display: none !important;
    }
}

/* Versión para dispositivos móviles */
@media (max-width: 767.98px) {
    /* Ocultar la información completa en dispositivos móviles */
    .d-md-block {
        display: none !important;
    }
    #about h2 {
        font-size: 1.5rem;
    }

    #about .container {
        margin-bottom: 20px;
    }

    #about img {
        width: 100%;
        height: auto;
    }
}


#about {
    padding: 3rem;
    text-align: center;
    background-color: var(--primary-color);
}

#about img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

#about h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

#about p {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--background-white);
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contact p {
    font-size: 1.2rem;
}

#contact-form {
    width: 50%;
    margin: 0 auto;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1rem;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.footer {
    position: relative;
    width: 100%;
    background: var(--background-black);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }